<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<meta charset="UTF-8">

<title>Sienge</title>
</head>
<body>
	<div layout:fragment="page_content" id="page_content">
		<h1 class="display-3 text-primary">Load Price</h1>
		<form>
			<div class="form-row">
				<div class="col-md-5 form-group" >
					<label class="control-label">Distância na Rodovia Pavimentada</label>
					<div class="input-group">
						<input type="number" class="form-control" placeholder="Distância em Km" required="required"
							data-bind="value: distanciaPavimentada, valueUpdate: 'afterkeydown'">
						<div class="input-group-append">
							<span class="input-group-text">Km</span>
						</div>
					</div>
					<span data-bind='visible: distanciaPavimentada.hasError, text: distanciaPavimentada.validationMessage' style="color: red"> </span>
				</div>
				
				<div class="col-md-5 form-group">
					<label>Distância na Rodovia Não Pavimentada</label>
					<div class="input-group">
						<input type="number" class="form-control" placeholder="Distância em Km" required="required"
							data-bind="value: distanciaNaoPavimentada, valueUpdate: 'afterkeydown'">
						<div class="input-group-append">
							<span class="input-group-text">Km</span>
						</div>
					</div>
					<span data-bind='visible: distanciaNaoPavimentada.hasError, text: distanciaNaoPavimentada.validationMessage' style="color: red"> </span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-5 form-group">
					<label>Veículo Utilizado</label>
					<select class="form-control"  required="required"
							data-bind="options: veiculos,
									   optionsText: $data,
				                       value: veiculoSelecionado"></select>
				</div>
				<div class="col-md-5 form-group">
					<label>Peso da Carga</label>
					<div class="input-group">
						<input type="number" class="form-control" placeholder="Peso em Tonelada" required="required"
							data-bind="value: pesoTotalCarga, valueUpdate: 'afterkeydown'">
						<div class="input-group-append">
							<span class="input-group-text">Tonelada</span>
						</div>
					</div>
					<span data-bind='visible: pesoTotalCarga.hasError, text: pesoTotalCarga.validationMessage' style="color: red"> </span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-5 form-group">
					<label>Custo do Transporte</label>
					<div class="input-group">
						<div class="input-group-prepend">
						    <span class="input-group-text">R$</span>
						</div>
						<input type="number" class="form-control" disabled="disabled"
							data-bind="value: custoTransporte">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success" data-bind="click: calcularCustoTransporte">
				<i class="fa fa-calculator"></i> Calcular</button>
		</form>
	</div>
	<th:block layout:fragment="scripts">
		<script type="text/javascript">
			ko.extenders.required = function(target, overrideMessage) {
			    //add some sub-observables to our observable
			    target.hasError = ko.observable();
			    target.validationMessage = ko.observable();
			 
			    //define a function to do validation
			    function validate(newValue) {
			       target.hasError(newValue ? false : true);
			       target.validationMessage(newValue ? "" : overrideMessage || "This field is required");
			    }
			 
			    //initial validation
			    validate(target());
			 
			    //validate whenever the value changes
			    target.subscribe(validate);
			 
			    //return the original observable
			    return target;
			};
			
			function cargaViewModel() {
			    var self = this;
			
			    self.veiculos = ko.observableArray(['Caminhão baú', 'Caminhão caçamba', 'Carreta']);
			    self.veiculoSelecionado = ko.observable();
			    self.distanciaPavimentada = ko.observable(1).extend({ required: "Campo Obrigatório!" });
			    self.distanciaNaoPavimentada = ko.observable(1).extend({ required: "Campo Obrigatório!" });
			    self.pesoTotalCarga = ko.observable(1).extend({ required: "Campo Obrigatório!" });
			    self.custoTransporte = ko.observable();
			
			    self.calcularCustoTransporte = () => {
			    	
			    	if(!self.distanciaPavimentada() || !self.distanciaNaoPavimentada() || !self.pesoTotalCarga()) {
			    		alert('Há campos obrigatórios não preenchidos!');
			    		return;
			    	}
						    	
			    	$.post('/api/calcular-custo-transporte', 
			    			{distanciaPavimentada: self.distanciaPavimentada(), 
			    			distanciaNaoPavimentada: self.distanciaNaoPavimentada(),
			        		veiculoUtilizado: self.veiculoSelecionado(), 
			        		pesoTotalCarga: self.pesoTotalCarga()}, 
			        	(returnedData) => {
			    			self.custoTransporte((returnedData).toFixed(2));
			    		}
			        );
			    };
			}
			
			$(document).ready(function () {
				console.log('app initialized...')
			    ko.applyBindings(new cargaViewModel());
			});
		</script>
	</th:block>
</body>
</html>